{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $defaultShell := promptStringOnce . "defaultShell" "Default shell (bash/zsh)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    defaultShell = {{ $defaultShell | quote }}
